<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712994084666-nhbak3nb06lrbak6m127jsb9r19rdpd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712994084666-nhbak3nb06lrbak6m127jsb9r19rdpd4</string>
	<key>API_KEY</key>
	<string>AIzaSyCXXvqu0N7XhJk0d87iAETDjcD0rFkNcdA</string>
	<key>GCM_SENDER_ID</key>
	<string>712994084666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFlutterQuiz</string>
	<key>PROJECT_ID</key>
	<string>app-flutter-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>app-flutter-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:712994084666:ios:a051d22093c4ddc4616203</string>
</dict>
</plist>
